body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #33DDFF;
        filter: drop-shadow(5px 5px 2px rgb(56, 5, 5));

}

.welcome-message {
    color: #63A3AF;
    font-size: 14px;
    font-weight: bold;
}
.chat-container {
    width: 400px;
    height: 600px;
    border: 1px solid #e1e8ed;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    padding: 10px;
}

.input-field {
    flex: 1;
    padding: 5px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    outline: none;
}

.send-button {
    margin-left: 10px;
    padding: 7px 13px;
    background-color: #ff4b5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}

.send-button:active {
    transform: scale(0.95);
}

.send-button {
    border: 3px solid #ff5f70;
}